# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

acli.exe


#some md files
INTEGRATION_SUMMARY.md
install-code.md
CSS_SETUP_SUMMARY.md
UI_IMPROVEMENTS_SUMMARY.md
TAURI_FIX_GUIDE.md
BLACK_SCREEN_FIX.md
FINAL_FIX_GUIDE.md
ERROR_FIX_SUMMARY.md
DOWNLOAD_ITEM_IMPROVEMENTS.md
FDM_UI_REDESIGN.md
ADD_CATEGORY_AND_FILE_OPENING_FIX.md
FILENAME_AND_LOCATION_FIX.md
MAJOR_UI_FIXES_COMPLETE.md
RUST_WARNINGS_EXPLAINED.md
DRAGGABLE_DIALOG_AND_YOUTUBE_FIX.md
YOUTUBE_DOWNLOAD_IMPLEMENTATION_GUIDE.md
TESTING_GUIDE.md
ENHANCEMENTS_SUMMARY.md
UI_CHANGES.md
test_phase1_commands.md
FIXES.md
CODEBASE_ANALYSIS.md
summary.md
FRONTEND_DATA_FIX.md
SUMMARY.md
tmp_rovodev_build.txt


.vscode



